PORT=3011
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASS=
DB_NAME=majadigi_main
DB_SCHEMA=transjatim

REDIS_URL=redis://localhost:6379
HARGA_TIKET=4000
TIKET_BERLAKU_JAM=3
