NODE_ENV=development
LOG_LEVEL=debug

GATEWAY_PORT=3000
GATEWAY_HOST=0.0.0.0

AUTH_SERVICE_PORT=
BAPOK_SERVICE_PORT=
RSUD_SERVICE_PORT=
ISLAMIC_SERVICE_PORT=
TRANSJATIM_SERVICE_PORT=
# ... dst

# --- BAPOK SPECIFIC ---
ADMIN_SECRET_KEY=bapok-super-secret-key-development
FCM_PROJECT_ID=dummy-project
FCM_CREDENTIALS_JSON="{}"

# Konfigurasi URL Target untuk API Gateway (Internal Docker Network)
AUTH_SERVICE_URL=http://auth-service:${AUTH_SERVICE_PORT}
BAPOK_SERVICE_URL=http://bapok-service:${BAPOK_SERVICE_PORT}
RSUD_SERVICE_URL=http://rsud-service:${RSUD_SERVICE_PORT}
ISLAMIC_SERVICE_URL=http://islamic-service:${ISLAMIC_SERVICE_PORT}
TRANSJATIM_SERVICE_URL=http://transjatim-service:${TRANSJATIM_SERVICE_PORT}

DB_HOST=postgres-db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=majadigi_main
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=majadigi_main
DB_PASS=admin123
DB_SCHEMA=majadigi

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=dev-secret-key-that-is-at-least-32-chars-long-abc123xyz
JWT_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_BUCKET=majadigi
MINIO_USE_SSL=false
