NODE_ENV=development
LOG_LEVEL=debug

GATEWAY_PORT=3000
GATEWAY_HOST=0.0.0.0

AUTH_SERVICE_PORT=3001
BAPENDA_SERVICE_PORT=3002
# ... dst

# Konfigurasi URL Target untuk API Gateway (Internal Docker Network)
AUTH_SERVICE_URL=
TRANSJATIM_SERVICE_URL=
BAPENDA_SERVICE_URL=
BAPOK_SERVICE_URL=
ISLAMIC_SERVICE_URL=
RSUD_SERVICE_URL=
DARURAT_SERVICE_URL=
WISATA_SERVICE_URL=
BANSOS_SERVICE_URL=
ETIBI_SERVICE_URL=
SINAKER_SERVICE_URL=

DB_HOST=postgres-db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=majadigi_main
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=majadigi_main
DB_PASS=admin123
DB_SCHEMA=majadigi


REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=dev-secret-key-that-is-at-least-32-chars-long-abc123xyz
JWT_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d
