# Pustaka lokal (WAJIB diabaikan agar Docker mengunduh ulang versi Alpine-nya)
node_modules
npm-debug.log

# Hasil kompilasi lokal (biarkan Docker mengompilasi ulang di dalamnya)
dist
build

# File Environment / Kredensial (SANGAT WAJIB untuk Keamanan)
.env
.env.local
.env.development
.env.production

# File sistem manajemen versi
.git
.gitignore
.husky

# File dokumentasi (tidak perlu masuk ke dalam server produksi)
README.md
docs/

# File konfigurasi yang tidak dibutuhkan saat runtime
docker-compose.yml
Dockerfile