# Gateway
PORT=
NODE_ENV=

# Services
AUTH_SERVICE_URL=
BAPENDA_SERVICE_URL=
BAPOK_SERVICE_URL=
ISLAMIC_SERVICE_URL=
RSUD_SERVICE_URL=
DARURAT_SERVICE_URL= 
WISATA_SERVICE_URL=
BANSOS_SERVICE_URL=
ETIBI_SERVICE_URL=
SINAKER_SERVICE_URL=
TRANSJATIM_SERVICE_URL=
# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production