NODE_ENV=development
PORT=3004

DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASS=
DB_NAME=majadigi_main
DB_SCHEMA=islamic

REDIS_URL=redis://localhost:6379
ADMIN_SECRET_KEY=

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USER=minioadmin
MINIO_PASSWORD=
MINIO_BUCKET=majadigi
MINIO_USE_SSL=false
